# for syntax see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# base rule, guppy team is codeowner for whole repo
* @CQCL/guppy

# Add specific rules below.
# Lower the rule, higher the precedence

# The release PRs that trigger publication to PyPI always modify the changelog.
# We require those PRs to be approved by someone with release permissions.
CHANGELOG.md @mark-koch @aborgna-q  @ss2165 @doug-q
