include *.toml
include *.txt
include *.yaml
recursive-include examples *.ipynb
recursive-include guppy *.py
recursive-include tests *.err
recursive-include tests *.py
recursive-include tests *.sh
recursive-include validator *.lock
recursive-include validator *.rs
recursive-include validator *.toml
recursive-exclude validator/target *.rs
recursive-exclude validator/target *.lock
exclude .git-blame-ignore-revs
