[tool.poetry]
name = "guppylang"
version = "0.2.0"
description = "Pythonic quantum-classical programming language"
authors = ["Mark Koch <mark.koch@quantinuum.com>"]
license = "Apache-2.0"
readme = "quickstart.md"
repository = "https://github.com/CQCL/guppy"

[tool.poetry.dependencies]
python = "^3.10"
graphviz = "^0.20.1"
networkx = "^3.2.1"
pydantic = "^2.7.0b1"
typing-extensions = "^4.9.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.4"
pytest-cov = "^4.1.0"
mypy = "^1.8.0"
pre-commit = "^3.6.0"
ruff = ">=0.3"
maturin = "^1.4.0"
pytket = "*"

[tool.poetry.group.validation]
optional = true

[tool.poetry.group.validation.dependencies]
guppyval = { path = "validator" }


[tool.poetry.group.pytket]
optional = true

[tool.poetry.group.pytket.dependencies]
pytket = { version = "^1.24.0" }
tket2-py = { git = "https://github.com/CQCL/tket2.git", rev = "9e941f3" }


[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^7.2.6"
sphinx-book-theme = "^1.1.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
plugins = ["pydantic.mypy"]
strict = true
allow_redefinition = true
# mypy doesn't support TypeAliasType fully yet
# https://github.com/python/mypy/issues/16614
disable_error_code = "valid-type"
